<div class="stage">
  <div class="stageHeader">
    <div class="stageName" *ngIf="!isEdit">
      {{stage.name}}
      <button (click)="onEditStart()">Edit</button>
    </div>
    <div *ngIf="isEdit">
      <input [(ngModel)]="stageName">
      <button (click)="onEditFinish()">Сохранить</button>
      <button (click)="onEditCancel()">Отмена</button>
    </div>
    <button type="button" title="Добавить задачу" class="taskAdd"
            (click)="windowAddTask('block', 'addTaskForm', 'taskAdd', 'taskBlockContent')">
    </button>
  </div>
  <app-task-form class="addTaskForm"
                 (create)="createTask($event, 'addTaskForm', 'taskAdd', 'taskBlockContent')">
  </app-task-form>
  <div class="stageContent">
    <div class = "taskBlockContent">
    <div *ngFor="let task of stage.tasks">
      <app-task  [moveEnabled]="moveEnabled" [backEnabled]="backEnabled" (moveTask)="onTaskMoved($event)"
                (backTask)="inTaskMoved($event)" [task]="task"></app-task>
    </div>
    </div>
  </div>
</div>


