.stage {
  margin: 5px;
  padding: 3px;
  background: #e5f8ff;
  border-radius: 3px;
}

:host {
  width: 100%;
}

.stageName {
  padding: 3px;
  margin: 5px;
  font-weight: bold;
  font-size: 1.3rem;
  color: #116f6f;
  text-align: center;
}
.stageContent {
  margin: 3px;
  padding: 3px;
  overflow-y: auto;
  max-height: calc(100vh - 210px);
}
