<form class = "addTask" [formGroup]="taskForm" (submit)="createTask()">
  <div class='taskForm' title="Добавление новой задачи">
    <div class="formHeader">
    <div class="formName">Добавить задачу:</div>
    <div class="closeForm" title="Закрыть окно"></div>
    </div>
    <div class="formContent">
    <div class="formBlock"> <label> Заголовок </label> <input formControlName="name">
      <app-control-error [control]="taskForm.controls.name"></app-control-error>
    </div>
    <div class="formBlock"><label> Описание</label><input formControlName="description">
      <app-control-error [control]="taskForm.controls.description"></app-control-error>
    </div>
    <div class="formBlock"><label> Приоритет</label><select formControlName="priority">
      <option *ngFor="let priori of priority" [value]="priori">
        {{priori}}
      </option>
    </select> </div>
    <div class="formBlock"><label> Исполнитель</label><select formControlName="executor">
      <option *ngFor="let exec of executors" [value]="exec">
      {{exec}}
      </option>
    </select></div>
  </div>
  </div>
    <button type="submit">Создать</button>
</form>

