.task {
  background: url('../../assets/image/note-pin-paper.png') no-repeat;
  background-size: 314px 190px;
  font-family: 'Bad Script', cursive;
  margin: 9px 3px 1px 3px;
  text-align: center;
  padding: 30px 3px 2px 2px;
  min-height: 200px;
  box-sizing: border-box;
  line-height: 3px;
}
h2 {
  padding-bottom: 2px;
}
p {
  padding-bottom: 3px;
}

.prioritet {
  width: 30px;
  height: 30px;
  text-align: center;
  margin-left: 10px;
  font-size: 1.3rem;
  border-radius: 50%;
  background: #ff0307;

}
