.task {
  background: url('../../assets/image/note-pin-paper.png') no-repeat;
  background-size: 314px 190px;
  font-family: 'Bad Script', cursive;
  margin: 9px 3px 1px 3px;
  text-align: center;
  padding: 30px 3px 2px 2px;
  min-height: 200px;
  box-sizing: border-box;
}
